<div
    role="menu"
    class="sub-menu theme-lakira"
    style="opacity: 1; transition-duration: 150ms"
>
    <div class="callout-arrow"></div>
    <div class="topbar"></div>
    <ul class="sub-menu-list">
        <li class="sub-menu-item" role="none">
            <a class="current active" href="/browse">Home</a>
        </li>
        <li class="sub-menu-item" role="none">
            <a href="/browse/genre/83">TV Shows</a>
        </li>
        <li class="sub-menu-item" role="none">
            <a href="/browse/genre/34399">Movies</a>
        </li>
        <li class="sub-menu-item" role="none">
            <a href="/latest">New &amp; Popular</a>
        </li>
        <li class="sub-menu-item" role="none">
            <a href="/browse/my-list">My List</a>
        </li>
        <li class="sub-menu-item" role="none">
            <a href="/browse/original-audio">Browse by Languages</a>
        </li>
    </ul>
</div>
