@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#141414] text-white;
    }
}

@layer components {
    .navigationMenu {
        @apply cursor-pointer;
    }

    .navigationTab {
        @apply hidden;
    }

    .navItemMobile {
        @apply flex h-[50px] w-[260px] items-center justify-center text-[#b3b3b3] hover:bg-[#2a2a2a] hover:font-bold hover:text-white;
    }

    .arrow {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #e5e5e5;

        @apply absolute top-[55px] left-[25%];
    }
}
